.dets .left,
.right {
  min-height: 50vh;

  max-width: 50%;
}
.dets .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dets .left img {
  mix-blend-mode: multiply;
  cursor: zoom-in;
  max-height: 60vh;
  max-width: 100%;
  border-radius: 18px;
}
.line {
  background-color: black;
  width: 1px;
}
.dets {
  justify-content: space-evenly;

  display: flex;
}
.cat {
  text-transform: capitalize;
}
.sig {
  margin-bottom: 0;
  font-size: x-large;
  font-weight: 700;
  border: 1px solid;
  padding: 0px 9px;
  background-color: #fbeee0;
}
.sig:hover {
  background-color: #fbeee0;
  border: 1px solid;
}
.right p {
  text-transform: capitalize;
}
.right h6 {
  font-weight: 400;
}
@media (max-width: 768px) {
  .dets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .line {
    height: 1px;
    width: 90%;
  }
  .dets .left,
  .right {
    max-width: 80%;
  }
}
@media (max-width: 425px) {
  .dets .left,
  .right {
    max-width: 100%;
  }
}
